<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8080/products">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8080/carts/651cd552fef520effdaae934">Carrito</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8080/profile">Perfil</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container text-center">
    {{#if productos.length }}
    <div class="d-flex justify-content-center">
        {{#each productos}}

        <div class="card m-2" style="width: 18rem;">
            <div class="card-body">
                <img src="{{item.thumbnail}}" class="img-fluid rounded-start"/>
                <h5 class="card-title">{{item.title}}</h5>
                <h4 class="card-title">${{item.price}}</h4>
                <p class="card-text">{{item.description}}</p>
                <p class="card-text"><small class="text-body-secondary">
                    Codigo: {{item.code}}
                    Stock: {{item.stock}}
                    En el carrito: {{qty}}
                    </small></p>              
            </div>
        </div>
        {{/each}}
    </div>
    <div class="row justify-content-center">
      <div class="d-flex justify-content-center align-items-center">
          <button class="btn btn-outline-primary mx-2" id="emptyCart">Vaciar carrito</button>
          <button class="btn btn-outline-success mx-2" id="purchase">Finalizar compra</button>
      </div>
    </div>   
    {{else}}
    <h2>Sin productos.</h2>
    {{/if}}
</div>



<script src="/js/cart.js"></script>