<h1>Perfil de usuario</h1>
<p>Nombre: {{first_name}} {{last_name}}</p>
<p>email: {{email}}</p>
<p>edad: {{age}}</p>
<p>Rol: {{role}}</p>

<a href="http://localhost:8080/uploadDocs">Subir documentos</a>

<script src="/js/index.js"></script>